**Garson Bahşişleri** 
- Bir restoranda yemek servisi yapan garson, garsonlara verilen bahşişlerle ilgili verileri kaydetmiştir. Restoran tarafından kaydedilen veriler şunlardır:

* total_bill: Vergiler dahil toplam hesap miktarı
* tip: Garsonlara verilen bahşiş miktarı
* sex: Hesabı ödeyen kişinin cinsiyeti
* smoker: Kişinin sigara içip içmediği
* day: Haftanın günü
* time: Öğle veya akşam
* size: Masadaki kişi sayısı
* Bu veriler doğrultusunda amacım, garson bahşişlerini etkileyen faktörleri bulmak ve garson bahşişlerini tahmin etmek için bir makine öğrenme modeli eğitmektir.

In [2]:
import numpy as np
import pandas as pd

Veri setini yükleme

In [3]:
data= pd.read_csv('tips.csv')

İlk 5 satırı görüntüleme

In [5]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Temel istatistiklerini görüntüleme

In [18]:
data.describe(include='all')

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

Eksik verilerin sayısı

In [20]:
data.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [23]:
type(data)

pandas.core.frame.DataFrame